:root {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Motiva Sans", sans-serif;
    background: linear-gradient(166deg, rgb(123, 188, 185) 0%, rgb(68, 127, 165) 53%);
    background-repeat: no-repeat;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    height: 10vh;
    background-color: rgb(30, 56, 89);
}

.nav-logo {
    align-self: center;
}

.nav-logo > img {
    color: white;
    width: 10rem;
}

.nav-link {
    color: rgba(255,255,255,0.5);
    text-align: center;
    text-decoration: none;
    margin: 0.5rem;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
}

.container {
    display: flex;
    margin: 0rem 7vw;
    min-height: 100vh;
    margin-bottom: 5vh;
}


.search-wrapper,
.display-wrapper {
    display: flex;
    flex-direction: column;
}

.display-wrapper {
    --displayNumber: 4;
    width: 75%;
}

.search-wrapper {
    width: 25%;
}

.input-btn, .input-box {
    color: rgba(0,0,0,0.7);
    font-size: 1vw;
    overflow: hidden;    
    margin-right: 5vw;
    height: 2rem;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: inset 2px -2px 1px rgba(0, 0, 0, 0.2);
}

.input-btn:hover {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 1px -1px 2px rgba(0, 0, 0), inset 2px -2px 1px rgba(0, 0, 0, 0.5);
}

.input-btn:active {
    filter: brightness(150%);
    color: black;
    font-size: 0.9rem;
}

.input-box {
    margin-top: 1vh;
    margin-bottom: 0.25rem;
    padding-left: 0.8rem;
}

.input-btn {
    margin-bottom: -1vh;
}

.categorize-list {
    margin-top: 2vh;

}

.categorize-item {
    list-style: none;
    color: whitesmoke;
    cursor: pointer;
    padding: 0.2rem;
    font-size: 1vw;
    flex: 50%;
}

.categorize-item:hover {
    font-size: 1.1vw;
    text-decoration: underline;
    transition: 150ms ease-in-out;
}

.section-name { 
    font-size: 1vw;
    min-height: 3vh;
}



/* game wrapper */

#display-board {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}

#display-board .game-wrapper {
    width: calc(100%/var(--displayNumber));
    display: flex;
    flex-direction: column;
    padding: 0.8vw;
}

#display-board > .game-wrapper .game-img {
    height: 100%;
    width: 100%;
    /* object-fit: cover;
    aspect-ratio: 16 / 9; */
}

/* Slider wrapper   */
#slider-wrapper {
    display: flex;
    overflow: scroll;
}

#slider-wrapper .trending-game {
    flex: 0 0 calc(100%/3);
    display: flex;
    flex-direction: column;
    padding: 0.8vw;
}

#slider-wrapper .trending-game .game-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}


.game-info {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(166deg, rgba(156,228,217,1) 25%, rgba(134,196,195,1) 46%, rgba(135,200,193,1) 61%, rgba(61,218,190,1) 80%);

}



.game-name {
    width: 70%;
    padding-left: 1vw;
}

.game-price {
    width: 30%;
    text-align: center;
}

.game-name,
.game-price {
    /* text-align: center; */
    border: none;
    outline: none;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1vw;
}



.load-more {
    align-self: end;
    padding: 0.5rem;
}
.load-more > a {
    color: rgba(255,255,255,0.5);
    font-size: 1vw;
    text-decoration: none;
}

.load-more > a:hover {
    color: white;
    text-decoration: underline;
}

.game-display {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8)
}



/* game detail style */
.game-detail-container {
    border: 2px solid rgb(27, 38, 49);
    background-color:  rgba(27, 38, 49, 0.8);
    display: flex;
    flex-direction: column;
    padding-bottom: 3vh;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
    margin-top: 3vh;
}
.game-detail-container > .section-name > h2 {
    text-align: center;
}


.game-detail-wrapper {
    margin-top: 3vh;
    display: flex;
    max-height: 100%;
    padding-left: 0.8vw;
}

.game-description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    width: 50%;
    padding-right: 3vw;
}

.description,
.game-name,
.release-date {
    overflow: hidden;
}

.game-description > .description {
    color: whitesmoke;
    text-align: justify;
    margin: 2vh 0vh 4vh 2vh;
    font-size: 1.1vw;
}

.game-description > .game-name {
    color: whitesmoke;
    margin: 0vh 0vh 0.5vh;
}

.game-description > .release-date {
    color: whitesmoke;
    margin: 0.2vh 2vh;
    font-size: 1vw;
}

.game-detail-wrapper > .game-img {
    width: 50%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    -webkit-box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.44); 
    box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.44);
}

.game-tags {
    margin-left: 2vh;
    margin-bottom: 0.5vh;
    position: absolute;
    bottom: 0;
}

.game-tags > .tag {
    width: min-content;
    font-size: 1vw;
    text-wrap: nowrap;
    margin: 0.1vw;
    cursor: pointer;
}

.game-wrapper > .game-display {
    -webkit-box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.44); 
    box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.44);
}

.game-wrapper > .game-display > .game-img {
    /* border-bottom: 2px solid black; */
}

.trending-game > .game-display {
    /* border: 2px solid black; */
    -webkit-box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.44); 
    box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.44);
}

.game-wrapper:hover {
    filter: brightness(130%);
}

.trending-game:hover {
    filter: brightness(130%);
}

@media (max-width: 600px) {
    .display-wrapper {
        --displayNumber: 3;
    }
    /* .container {
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .categorize-list {
        display: none;
    } */
}

@media (max-width: 430px) {
    .display-wrapper {
        --displayNumber: 2;
        flex: 1;
        width: 90%;
        margin: 0 auto;
    }

    .display-wrapper > .section-name {
        padding-bottom: 2vh;
    }

    .nav-link {
        display: none;
    }

    .nav-logo {
        margin: 0 auto;
    }

    .container {
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .search-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .input-box,.input-btn {
        margin-right: 0vw;
        text-align: center;
        height: auto;
    }
    
    .categorize-list {
        display: flex;
        overflow: scroll;
    }

    .categorize-item {
        width: min-content;
        text-wrap: nowrap;
    }
    
    .section-name {
        margin: 5vh;
    }

    h2 {
        text-align: center; 
    }
}

