:root {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Motiva Sans", sans-serif;
    /* background-color: #2a536b; */
    background: linear-gradient(166deg, rgba(44,83,81,1) 0%, rgba(6,38,59,1) 53%);

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    height: 15vh;
    background-color: rgb(27, 40, 56);
}

.nav-logo {
    align-self: center;
    height: 36.77px;
}

.nav-logo > img {
    color: white;
    width: 10rem;
}

.nav-link {
    color: rgba(255,255,255,0.5);
    text-align: center;
    text-decoration: none;
    margin: 0.5rem;
}


.container {
    display: flex;
    margin: 0rem 7vw;
    min-height: 100vh;
}


.search-wrapper,
.display-wrapper {
    display: flex;
    flex-direction: column;
}

.display-wrapper {
    width: 75%;
}

.search-wrapper {
    width: 25%;
}

.input-btn, .input-box {
    color: rgba(0,0,0,0.7);
    font-size: 1vw;
    overflow: hidden;    
    margin-right: 5vw;
    height: 2rem;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: inset 2px -2px 1px rgba(0, 0, 0, 0.2);
}

.input-btn:hover {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 1px -1px 2px rgba(0, 0, 0), inset 2px -2px 1px rgba(0, 0, 0, 0.5);
}

.input-btn:active {
    filter: brightness(150%);
    color: black;
    font-size: 0.9rem;
}

.input-box {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding-left: 0.8rem;
}

.input-btn {
    margin-bottom: -1vh;
}

.categorize-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.categorize-item {
    list-style: none;
    color: whitesmoke;
    cursor: pointer;
    padding: 0.2rem;
    font-size: 1vw;
}

.categorize-item:hover {
    font-size: 1rem;
    text-decoration: underline;
    transition: 150ms ease-in-out;
}

.section-name { 
    font-size: 1vw;
    min-height: 3vh;
}



/* game wrapper */

#display-board {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}

#display-board .game-wrapper {
    width: calc(100%/4);
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
}

#display-board > .game-wrapper .game-img {
    height: 100%;
    width: 100%;
    /* object-fit: cover;
    aspect-ratio: 16 / 9; */
}

/* Slider wrapper   */
#slider-wrapper {
    display: flex;
    overflow: scroll;
}

#slider-wrapper .trending-game {
    flex: 0 0 calc(100%/3);
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
}

#slider-wrapper .trending-game .game-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}


.game-info {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(166deg, rgba(156,228,217,1) 25%, rgba(134,196,195,1) 46%, rgba(135,200,193,1) 61%, rgba(61,218,190,1) 80%);

}

.game-name {
    width: 70%;
    padding-left: 1rem;
}

.game-price {
    width: 30%;
    text-align: center;
}

.game-name,
.game-price {
    /* text-align: center; */
    border: none;
    outline: none;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}



.load-more {
    align-self: end;
    padding: 0.5rem;
}
.load-more > a {
    color: rgba(255,255,255,0.5);
    font-size: 1.25rem;
}

.game-display {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8)
}